<%- include("header") -%>
<link rel="stylesheet" href="css/customers.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">OurBank</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/transactionhistory">transaction history<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <h3>Transfer Money To.....</h3>
  <a href="/transfer"> <button type="submit" name="transbtn" class="btn btn-dark">Transfer</button></a>
  <hr>
  <h2>Customers</h2>
  <hr>
  <% customers.forEach(function(item){ %>
  <div class="name">
    <form class="" action="/customers" method="post">
      <h4><%=  item.name  %></h4>
      <button type="submit" name="profilebtn" value="<%=  item.name  %>" class="btn prof">Profile</button>
    </form>
  </div>

  <% })%>
  <%- include("footer") -%>
