body{
  text-align: center;
}
h2{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 18px
}
.navbar {
  background-color: #5AA6E8;
}
.name{
  margin-left: 37%;
  background-color: #5AA6E8;
  width: 25%;
  margin-top: 5px;
  height: 200px;
  padding: 30px;
  color: white
}
.card{
background-color: #FDFAF6
}
